{
  :temp-dir #env TEMP_DIR

  :github
  {
    :username #env GITHUB_USER
    :password #env GITHUB_PASSWORD
  }

  :bitergia
  {
    :username #env BITERGIA_USER
    :password #env BITERGIA_PASSWORD
  }

  :confluence
  {
    :username #env CONFLUENCE_USER
    :password #env CONFLUENCE_PASSWORD
    :host "https://finosfoundation.atlassian.net"
    :skip-pages ["template" "archive" "YYYY-MM-DD"]
    :years ["2019" "2018" "2017" "2016"]
    :ignore-names ["Individual's name" "Other Attendees" "FINOS Foundation" "TBD"]
    :remove-from-names ["(PMC Lead)" "(Observer)" "(Chair)" "(Call-in User)" "(Deactivated)"]
    :acronyms {
        "Anton" "Anton Nikolaev"
        "Saori" "Saori Fotenos"
        "JT" "Jonathan Teper"
        "Rhyddian" "Rhyddian Olds"
        "Slava" "Slava Kryukov"
        "Svyatoslav (Slava) Kryukov" "Slava Kryukov"
        "Will Quan" "William Quan"
        "Gab Columbro" "Gabriele Columbro"
        "Nilesh Bhattad" "Nilesh R. Bhattad"
        "Peter Smulovic" "Peter Smulovics"
    }
  }

  :email
  {
    :host               #or [#env SMTP_SERVER "smtp.gmail.com"]
    :ssl                #or [#env SMTP_USE_SSL true]
    :user               #env SMTP_USER
    :pass               #env SMTP_PASSWORD
    :test-email-address #env TEST_EMAIL_ADDRESS
  }
}
